*{
    padding:0%;
margin: 0%;
}



.container{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr;
    height: 100%;
    width: 100%;
    border: 1px solid;

}
.items{
    background-color: aqua;
    border: 1px solid;
    border-radius: 1px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.item1{
    grid-column: 1/6;
    grid-row: 1/2;
}
.item2{
    grid-column: 1/2;
    grid-row: 2/5;
}
.item3{
    grid-column: 2/4;
    grid-row: 2/4;
}
.item4{
    grid-column: 2/4;
    grid-row: 4/5;

}
.item5{
    grid-column: 4/6;
    grid-row: 2/5;
}
.item6{
    grid-column: 1/6;
    grid-row: 5/6;
}
body{
    height: 100vh;
    width: 100vh;
}