.container h2{
    color: white;
    text-align: center;
}
.container{
    background-color: black;
}
*{
    padding:0%;
    margin: 0%;
}
.item2{
text-align: center;
background-color: beige;
border: 3px solid blueviolet;
border-radius: 1px;
margin-left: 450px;
width: 50%;


}
h3{
    text-align: center;
    background-color: black;
    color: white;

}